<%= form_for(@engine_model) do |f| %>
  <% if @engine_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engine_model.errors.count, "error") %> prohibited this engine_model from being saved:</h2>

      <ul>
      <% @engine_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
    <%= f.label :engine_brand_id %><br />
    <%= f.select(:engine_brand_id , EngineBrand.selections ) %>
    </p>
    
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
