<h1>Listing engine_models</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @engine_models.each do |engine_model| %>
  <tr>
    <td><%= engine_model.engine_brand.name %></td>
    <td><%= engine_model.name %></td>
    <td><%= link_to 'Show', engine_model %></td>
    <td><%= link_to 'Edit', edit_engine_model_path(engine_model) %></td>
    <td><%= link_to 'Destroy', engine_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Engine model', new_engine_model_path %>
