<%= form_for(@vehicle_unit) do |f| %>
  <% if @vehicle_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_unit.errors.count, "error") %> prohibited this vehicle_unit from being saved:</h2>

      <ul>
      <% @vehicle_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= f.label :company_id %>
      <%= f.select(:company_id , Company.selections )  %>
    </p>
    
    <p>
      <%= label_tag :category_id %>
      <%= select_tag "category_id", 
          options_from_collection_for_select(Category.all , "id", "name") %>
    </p>
    
    <p>
      <%= label_tag :classification_id %>
      <%= select_tag "classification_id", 
          options_from_collection_for_select(Classification.all , "id", "name") %>
    </p>
    
    <p>
      <%= f.label :unit_model_id %>  <!-- MUST -->
      <%= f.select(:unit_model_id , UnitModel.selections )   %>
    </p>
    
    <p>
      <%= label_tag :engine_brand_id %>
      <%= select_tag "engine_brand_id", 
          options_from_collection_for_select(EngineBrand.all , "id", "name") %>
    </p>
    
    <p> 
      <%= f.label :engine_model_id %>   <!-- MUST -->
      <%= f.select(:engine_model_id , EngineModel.selections )    %>
    </p>
    
    
    <p>
    <%= f.label :local_number %><br />
    <%= f.text_field :local_number %>
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
