<% total_days = total_days_in_this_month %>

<div id="chart-container-1" style="width: 100%; height: 400px"></div>


<table id="mca">
  <tr class="header">
    <th>Category</th>
    <th>Target</th>
    <th colspan="<%= total_days %>"><%= Time.now.month.to_s + "/" + Time.now.year.to_s %></th>
  </tr>

  <tr class="header-month-number">
    <td>.</td>
    <td>.</td>
    <% (1..total_days).each do |x|  %>
      <td><%=  x %></td>
    <% end %>
  </tr>
  
  <% for company in Company.all %>
    <%= render :partial => "company_summary" , 
          :locals => {:company => company, :total_days => total_days} %>
  <% end %>
</table>

<!-- <div style="display:none;"> -->
<div>
  <!-- <div id="form_target_availability">
    <h2 id="message-fancybox">Target Availability for month <%#= Time.now.month %></h2> -->
    <% form_for @target_availability, :html => { :id=> "target-availability-form"} do |f| %>
      <input type="hidden" id="month_form" name="month" value="<%= Time.now.month %>" />
      <input type="hidden" id="year_form" name="year" value="<%= Time.now.year %>" />
      <input type="hidden" id="value_container" name="value_container" value="" />
      <input type="hidden" id="company_id_container" name="company_id_container" value="" />
      <input type="hidden" id="category_id_container" name="category_id_container" value="" />
      <input type="hidden" id="day_container" name="day_container" value="" />
      
      
      <input type="hidden" id="target_value_container" name="target_value_container" value="" />
      <input type="hidden" id="target_company_id_container" name="target_company_id_container" value="" />
      <input type="hidden" id="target_category_id_container" name="target_category_id_container" value="" />
      
      
      <p>
        <%= f.submit  "Update" %>
      </p>
    <% end %>
  <!-- </div> -->
</div>

<h2 id="error-notification"></h2>