<tr class="header-company">
  <td colspan="<%= 2+ total_days %>">
    <span><%= link_to company.name ,"#", :id  => "company_#{company.id}", :class => "graph-starter"  %></span>
  </td>
</tr>

<% for category in Category.all %>
<tr class="body" company_id="<%= company.id %>"  category_id="<%=  category.id %>">
  <td class="category-name"><%= category.name %></td>

  <% if current_user.has_role? :entry %>
  <td class="target-availability entry-view" 
  id="company_<%= company.id %>_category_<%= category.id %>_target" >
  <% else %>
  <td class="target-availability" 
  id="company_<%= company.id %>_category_<%= category.id %>_target" >
  <% end %>

  <% target_availability = @availabilities.find do |e|
    e.month == @month.to_i &&
    e.year == @year.to_i &&
    e.company_id == company.id &&
    e.category_id == category.id &&
    e.target == true
  end %>

  <% if target_availability.nil? %>
  <span class="td-value still-nil">.</span>
  <input type="text" size="3" name="target_availability" class="td-value hidden target" maxlength="5" />
  <% else %>
  <span class="td-value"><%= target_availability.value %></span>
  <input type="text" size="3" name="target_availability" 
  class="td-value hidden target" maxlength="5" value="<%= target_availability.value %>" />
  <% end %>

</td>


<% (1..total_days).each do |x| %>
  <% real_availability = @availabilities.find do |e| 
    e.month == @month.to_i &&
    e.year == @year.to_i && 
    e.company_id == company.id &&
    e.category_id == category.id &&
    e.day == x &&
    e.target == false
  end   %>

  <% if current_user.has_role? :entry %>
    <td class="real-availability entry-view  <%= color_notification(real_availability) %> " 
    id="company_<%= company.id %>_category_<%= category.id %>_day_<%= x %>">
  <% else %>
    <td class="real-availability <%= color_notification(real_availability) %>  " 
    id="company_<%= company.id %>_category_<%= category.id %>_day_<%= x %>">
  <% end %>



  <% if  real_availability.nil? %>

  <% if current_user.has_role? :entry %>
  <span class="td-value still-nil">.</span>  
  <% else %>
  <span class="td-value still-nil">
    <%= link_to ".", 
    show_breakdowns_on_date_url(:day => x, :month => @month.to_i, :year =>@year.to_i)%>
  </span>  
  <% end %>
  <input type="text" size="3" name="real_availability" class="td-value real hidden" maxlength="5" />

  <% else %>

  <% if current_user.has_role? :entry %>
  <span class="td-value"><%= real_availability.value %></span>  
  <% else %>
  <span class="td-value">
    <%= link_to "#{real_availability.value}",
    show_breakdowns_on_date_url(:day => x, :month => @month.to_i, :year => @year.to_i) %>
  </span>  
  <% end %>
  <input type="text" size="3" name="real_availability" 
  class="td-value real hidden" maxlength="5" value="<%= real_availability.value %>" />

  <% end %>

  </td>
<% end %>
</tr>
<% end %>


