<div id="major-navigator">
  <%= link_to "Admin" , "#"%>
  <%= link_to "Summary", "#"%>
</div>

<div id="minor-navigator">
  <ul>
    <li>
      <%= link_to "+Company" , companies_url %>
    </li>
    
    <li>
      <%= link_to "+Manufacturer" , manufacturers_url %>
    </li>
    
    <li>
      <%= link_to "+Brand" , brands_url %>
    </li>
    
    <li>
      <%= link_to "+EngineModel" , engine_models_url %>
    </li>
    
    <li>
      <%= link_to "+Category" , companies_url %>
    </li>
    
    <li>
      <%= link_to "+Classification" , companies_url %>
    </li>
    
    <li>
      <%= link_to "+UnitModel" , companies_url %>
    </li>
  </ul>
</div>