<div id="major-navigator">
  <%= link_to "Admin" , companies_url %>
  <%= link_to "Summary", availabilities_url  %>
  <%= link_to "SignOut", destroy_user_session_url %>
</div>

<div id="minor-navigator">
  <ul>
    <li>
      <%= link_to "+Company" , companies_url %>
    </li>

    <li>
      <%= link_to "+Category" , categories_url %>
    </li>

    <li>
      <%= link_to "+Classification" , classifications_url %>
    </li>

    <li>
      <%= link_to "+Manufacturer" , manufacturers_url %>
    </li>

    <li>
      <%= link_to "+UnitModel" , unit_models_url %>
    </li>

    <li>
      <%= link_to "+EngineBrand" , engine_brands_url %>
    </li>

    <li>
      <%= link_to "+EngineModel" , engine_models_url %>
    </li>

    <li>
      <%= link_to "+UnitVehicle" , vehicle_units_url %>
    </li>
    
    <li>
      <%= link_to "+BreakdownStatus" , breakdown_statuses_url %>
    </li>
    
    <li>
      <%= link_to "+Breakdown" , breakdowns_url %>
    </li>



  </ul>
</div>