<!DOCTYPE html>
<html>
<head>
  <title>Plnt</title>
  <%= stylesheet_link_tag :all , "application"%>
  <%= javascript_include_tag  "jquery", "highcharts/js/highcharts.js",   "application" %>
 
  
  <%= csrf_meta_tag %>
</head>
<body>
  
  <% if user_signed_in? %>
    <%= render :partial => "layouts/navigation" %>
  <% end %>

  <%= yield %>

</body>
</html>
